.container {
	background-color:   #F2FAFC;
  height: 600px;
}

.intro {
	background-color: x#DDDDDC;
  height: 100px;
}

.details {
	background-color:  #F2FAFC;

}

h1 {
  text-align: center;
  padding-top: 15px;
  color: #666666;
}

.aws {
  margin-left: 50px;
  margin-top: 50px;	
  height: 200px;
  width: 200px;
  border: 5px solid #666666;	
}

.ci {
  float: right;
  margin-right: 50px;
  margin-top: 50px; 
  height: 200px;
  width: 200px;
  border: 5px solid #666666;  
}

p {
  text-align: center;
	color: #666666;
  font-size: 20px;
}